<h1>Department Details</h1>

<%= form_for @department do |f| %>
    <div class="form">
        <div class="form-item mb-3">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-item mb-3">
            <%= f.label :image_link %>
            <%= f.text_field :image_link, class: 'form-control' %>
        </div>
        <div class="form-item mb-3">
            <%= f.submit%>
        </div>
  </div>
<% end %>

<%= link_to 'Back', root_path %>

<hr>
<p>Example image link:: <i>http://bit.ly/2lH7gW4</i> </p>